---
	import Layout from '../layouts/Layout.astro'
	const name = 'K-Pop'
	const food = [
		'Pizza',
		'Pommes',
		'Steak'
	]
---

<Layout title="Startseite">

	<h1>OH HI {name} {name}{name}{name}{name}{name}{name}{name}KEVIN POWER ASTRO HYPER PAGEs</h1>
	<a href="./about.html">geh zu about</a>

	<div class="p-4 bg-red-500">
		{food.map(current => <div class="font-bold">{current}</div>)}
	</div>

	<img class="max-w-sm" src="https://images.unsplash.com/photo-1706125356134-a20ea29b412b?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

</Layout>
